THU THẬP DỮ LIỆU
Câu hỏi đặt ra: "Khi nào thì mưa????"

In [1]:
import requests
import json
import csv
import pandas as pd
# request lấy dữ liệu 1 năm 12x30 ngày
# ngày 1-> 28 mỗi tháng, tại vì em lười handle 
# các cột: Ngày + giờ, tempC, Windspeed(km/h),winddir16Point,weatherCode,humidity,visibility(km),pressure,cloudcover


elements = []
for i in range(1,12):
    month = i
    url = 'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=d1f163d12c3742b6a0742358210901&q=Ho Chi Minh&format=json&date=2013-'+str(month)+'-01&enddate=2013-'+str(month)+'-28&includelocation=yes'

    print(f'GET {url}')
    r = requests.get(url)
    json_pydata = json.loads(r.text)
    for day in range(0,27):

        for j in range(0,7):
            element = []
            element.append(json_pydata['data']['weather'][day]['date']+' - ' +json_pydata['data']['weather'][day]['hourly'][j]['time'])
            element.append(json_pydata['data']['weather'][day]['hourly'][j]['tempC'])
            element.append(json_pydata['data']['weather'][day]['hourly'][j]['windspeedKmph'])
            element.append(json_pydata['data']['weather'][day]['hourly'][j]['winddir16Point'])
            element.append(json_pydata['data']['weather'][day]['hourly'][j]['weatherCode'])
            element.append(json_pydata['data']['weather'][day]['hourly'][j]['humidity'])
            element.append(json_pydata['data']['weather'][day]['hourly'][j]['visibility'])

            element.append(json_pydata['data']['weather'][i]['hourly'][j]['pressure'])
            element.append(json_pydata['data']['weather'][i]['hourly'][j]['cloudcover'])
            elements.append(element)

GET http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=d1f163d12c3742b6a0742358210901&q=Ho Chi Minh&format=json&date=2013-1-01&enddate=2013-1-28&includelocation=yes
GET http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=d1f163d12c3742b6a0742358210901&q=Ho Chi Minh&format=json&date=2013-2-01&enddate=2013-2-28&includelocation=yes
GET http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=d1f163d12c3742b6a0742358210901&q=Ho Chi Minh&format=json&date=2013-3-01&enddate=2013-3-28&includelocation=yes
GET http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=d1f163d12c3742b6a0742358210901&q=Ho Chi Minh&format=json&date=2013-4-01&enddate=2013-4-28&includelocation=yes
GET http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=d1f163d12c3742b6a0742358210901&q=Ho Chi Minh&format=json&date=2013-5-01&enddate=2013-5-28&includelocation=yes
GET http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=d1f163d12c3742b6a0742358210901&q=Ho Chi Minh&format=json&date=2013-6-01&enddate=2013-6-28&includelocation=yes
GET http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=d1f163d12c3742b6a0742358210901&q=Ho Chi Minh&format=json&date=2013-7-01&enddate=2013-7-28&includelocation=yes
GET http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=d1f163d12c3742b6a0742358210901&q=Ho Chi Minh&format=json&date=2013-8-01&enddate=2013-8-28&includelocation=yes
GET http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=d1f163d12c3742b6a0742358210901&q=Ho Chi Minh&format=json&date=2013-9-01&enddate=2013-9-28&includelocation=yes
GET http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=d1f163d12c3742b6a0742358210901&q=Ho Chi Minh&format=json&date=2013-10-01&enddate=2013-10-28&includelocation=yes
GET http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=d1f163d12c3742b6a0742358210901&q=Ho Chi Minh&format=json&date=2013-11-01&enddate=2013-11-28&includelocation=yes

thông tin api: https://www.worldweatheronline.com/developer/api/docs/historical-weather-api.aspx
các cột được chọn: 
Ngày + giờ
TempC : Nhiệt độ
Windspeed(km/h): tốc độ gió
Winddir16Point: hướng gió, trên la bàn 16 hướng
WeatherCode: thông tin thời tiết
Humidity
Visibility(km): tầm nhìn
Pressure: áp suất
Cloudcover: tỉ lệ che của mây

In [6]:
cols =['Day + Time','TempC','Windspeed(km/h)','Windir16Point','WeatherCode','Humidity (%)','Visibility (km)','Pressure (mb)','Cloudcover (%)']
data_df = pd.DataFrame(elements, columns=cols)

In [7]:
data_df

,Day + Time,TempC,Windspeed(km/h),Windir16Point,WeatherCode,Humidity (%),Visibility (km),Pressure (mb),Cloudcover (%)
0,2013-01-01 - 0,24,3,NNE,113,78,10,1011,20
1,2013-01-01 - 300,23,4,NNE,113,78,10,1010,22
2,2013-01-01 - 600,24,6,N,113,78,10,1011,21
3,2013-01-01 - 900,28,7,N,113,64,10,1012,16
4,2013-01-01 - 1200,32,3,NNW,113,52,10,1010,14
...,...,...,...,...,...,...,...,...,...
2074,2013-11-27 - 600,26,12,ENE,119,89,10,1009,33
2075,2013-11-27 - 900,30,14,E,113,70,10,1009,20
2076,2013-11-27 - 1200,32,12,ESE,116,59,10,1007,31
2077,2013-11-27 - 1500,30,11,ESE,356,72,7,1006,24
2078,2013-11-27 - 1800,26,6,E,113,89,10,1008,45

In [5]:
#data_df.to_csv("rain.csv")

In [8]:
data_df.describe()

,Day + Time,TempC,Windspeed(km/h),Windir16Point,WeatherCode,Humidity (%),Visibility (km),Pressure (mb),Cloudcover (%)
count,2079,2079,2079,2079,2079,2079,2079,2079,2079
unique,2079,18,24,16,19,70,9,11,46
top,2013-09-17 - 600,25,8,WSW,116,90,10,1009,22
freq,1,291,243,283,738,74,1703,432,108

In [10]:
data_df['TempC'].unique()

array(['24', '23', '28', '32', '31', '27', '30', '33', '25', '29', '34',
       '22', '26', '21', '35', '36', '37', '38'], dtype=object)

Chuyển hướng gió từ 16 hướng -> 8 hướng?